/*.container {*/
/*    display: grid;*/
/*    grid-template-columns: 70px repeat(12, 1fr) 70px;*/
/*    gap: 20px;*/
/*    grid-template-areas: "header" "main" "footer";*/
/*}*/

.nav-container {
    max-width: 856px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.nav {
    height: 134px;
    background-color: var(--background-clr);
    position: relative;
}

.logo img{
    width: 200px;
    height: 64px;
    flex-shrink: 0;
}

.menu-icon {
    display: none;
}

.nav-elements ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.nav-elements li:not(:last-child) {
    margin-right: 40px;
}

.nav-elements a {
    font-size: var(--fs-l);
    font-weight: var(--fw-bold);
    color: var(--clr-dark);
    text-decoration: none;
    white-space: nowrap;
}

.nav-elements a.active {
    color: var(--clr-dark);
    font-weight: var(--fw-exbold);
    position: relative;
}
.nav-elements a:hover {
    color: var(--accent-clr);
}

.nav-elements a.active::after {
    content: '';
    position: absolute;
    bottom: -4px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--clr-dark);
}

@media (max-width: 768px) {
    .nav-elements ul li:not(:last-child) {
        margin-right: 20px;
    }
}

@media (max-width: 600px) {
    .menu-icon {
        display: block;
        cursor: pointer;
    }


.nav-elements {
    position: absolute;
    right: 0;
    top: 75px;
    background-color: var(--background-clr) ;
    width: 0;
    height: calc(100vh - 75px);
    transition: all 0.3s ease-in;
    overflow: hidden;
}

.nav-elements.active {
    width: 250px;
}

.nav-elements ul {
    display: flex;
    flex-direction: column;
}

.nav-elements li {
    margin-right: unset;
    margin-top: 22px;
}
}