*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}



:root {
  --ff-prm: 'Karla', sans-serif;
  --ff-sec: 'Markazi Text', serif;

  --fw-reg: 400;
  --fw-med: 500;
  --fw-bold: 700;
  --fw-exbold: 800;

  --fs-title: 64px;
  --fs-subtitle: 40px;
  --fs-section-title: 20px;
  --fs-lead: 18px;
  --fs-paragraph: 16px;

  --primary-clr: #495E57;
  --secondary-clr: #F4CE14;
  --accent-clr: #EE9972;
  --accent-light: #FBDABB;
  --light-clr: #EDEFEE;
  --dark-clr: #333333;
  --background-clr: #FFFFFF;

  --br: 16px;
}

body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  background: white;
  color: #000000;
  font-size: 1rem;
  line-height: 1.563rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
  border: none;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}


