*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --ff-prm: 'Karla', sans-serif;
  --ff-sec: 'Markazi Text', serif;

  --fw-reg: 400;
  --fw-med: 500;
  --fw-bold: 700;
  --fw-exbold: 800;

  --fs-t: 64px;
  --fs-st: 40px;
  --fs-c: 20px;
  --fs-l: 18px;
  --fs-p: 16px;

  --primary-clr: #495E57;
  --secondary-clr: #F4CE14;
  --accent-clr: #EE9972;
  --accent-light: #FBDABB;
  --clr-light: #EDEFEE;
  --clr-dark: #333333;
  --background-clr: #FFFFFF;

  --br: 16px;
}

  body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background: white;
    color: #000000;
    font-size: 1rem;
    line-height: 1.563rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

